.root {
    transition: opacity 1.5s;
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.follower-container {
    margin: 10px auto;
    display: flex;
    border: darkblue solid 1px;
    border-radius: 8px;
    min-height: 60px;
    width: 400px;
}

.user-container {
    padding: 10px;
    margin: 10px 20px;
    border: darkblue solid 1px;
    border-radius: 8px;
    width: 400px;
    height: 280px;
}

.user-header {
    display: flex;
}

.follower-container:hover {
    background-color: aliceblue;
}

.follower-loader {
    opacity: .7;
}

.image-container {
    height: 100%;
    margin: 20px;
}

.follower-image {
    margin: auto;
    border-radius: 50%;
}

.follower-name {
    color: black;
    font-size: 20px;
    margin: auto;
}

.follower-description {
    padding-top: 5px;
    margin: auto;
}

.details-container {
    padding: 10px;
    width: 100%;
}